/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}
  
header {
    padding: 15px;
    text-align: center;
}
  
h1 {
    font-size: 1.6em;
    margin-bottom: 10px;
}
  
h2 {
    margin: 15px 0 10px;
}
  
main {
    padding: 15px;
}
  
.alert-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

/* Estilo para alertas de prioridad extrema */
.alert-item.extrema {
    background-color: #ffcccc; /* Fondo rojo claro */
    border-color: #ff0000; /* Borde rojo */
}

.alert-item h3 {
    margin-bottom: 5px;
}
  
.alert-item p {
    margin: 5px 0;
}
  
#alert-form {
    display: flex;
    flex-direction: column;
}
  
#alert-form label {
    font-size: 0.9em;
    margin-bottom: 5px;
}
  
#alert-form input, 
#alert-form select, 
#alert-form textarea {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
}
  
button {
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
  
/* Ajustes específicos para dispositivos móviles */
@media (max-width: 600px) {
    body {
      padding: 10px;
    }
  
    header, main {
      padding: 10px;
    }
  
    h1 {
      font-size: 1.4em;
    }
  
    h2 {
      font-size: 1.2em;
    }
  
    #alert-form input,
    #alert-form select,
    #alert-form textarea {
      padding: 8px;
      font-size: 0.9em;
    }
  
    button {
      padding: 10px;
      font-size: 0.9em;
    }
}
